catkin_ws/build
catkin_ws/devel
*.wbproj
./Webots/worlds/*.wbproj
*.o
*.so
./Webots/controllers/gate/build/release/gate
./Webots/controllers/gate/gate
./Webots/controllers/trafficlight/trafficlight
./Webots/controllers/turnsign/turnsign
