<launch>
  <!-- AR tracking -->
  <include file="$(find ar_track_alvar)/launch/pr2_indiv_no_kinect.launch">
    <!-- <arg name="depth_mode" value="WFOV_2X2BINNED"/> -->
    <arg name="marker_size" value="8"/>
    <arg name="max_new_marker_error" value="0.08"/>
    <arg name="max_track_error" value="0.2"/>
    <arg name="cam_image_topic" value="/image_raw"/>
    <arg name="cam_info_topic" value="/camera_info"/>
    <arg name="output_frame" value="head_rgbd_sensor_rgb_frame_sync"/>
  </include>
</launch>
